body {
    margin: 0;
}

.background_screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #edeef0;
}

.login_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.login_block {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    height: 100%;
    min-width: 500px;
}

.login_block_section {
    width: 100%;
    height: 100%;
    margin: 15px 0;
    background-color: #ffffff;
    border: 1px solid black;
}

.login_indent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_login {
    width: 250px;
    margin: 15px;
}

.input_password {
    width: 250px;
    margin: 15px;
}

.entry_font {
    padding: 20px 0;
    font-size: 28px;
}

.registration_text_indent {
    display: flex;
    flex-direction: column;
}

.input_text {
    width: 100%;
}