body {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    word-break: break-word;
}

.record_button {
    width: 70px;
    height: 30px;
    background: white;
    border-color: #6FA8EC;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h2 {
    margin: 10px;
    color: white;
    padding-left: 10px;
}

.nav_head {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0;
    background-color: #ffffff;
}

.nav_move {
    position: fixed;
}

.nav_login {
    height: 55px;
    width: 130px;
    min-width: 70px;
    margin: 0 15px;
}

.registration {
    margin: 5px 0;
    max-width: 100%;
    height: 17px;
    background-color: #ffffff;

}

.register_button {
    background-color: #e7e7e7;
    border: none;
    color: #000000;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
}

.register_button:hover {
    border: 2px solid #778899;
}

.login {
    margin: 5px 0;
    max-width: 100%;
    height: 17px;
    background-color: #ffffff;
}

.login_button {
    background-color: #e7e7e7;
    border: none;
    color: #000000;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
}

.login_button:hover {
    border: 2px solid #778899;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_image {
    display: flex;
    width: 160px;
    min-width: 160px;
    height: 55px;
    background-color: white;

}

.logo_image_block {
    width: 100%;
    height: 100%;
}

.nav_block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    width: 100%;
    height: 55px;
}

.main_block {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    overflow-y: scroll;
}

.sec_block {
    display: flex;
    flex-direction: column;
    background-image: url("Кампус_ДВФУ_на_о._Русский.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
}

.main_submit {
    display: flex;

}

.main_events {
    height: 100%;
    min-height: 810px;
    width: 50%;
    min-width: 400px;
    background-color: rgba(253, 254, 255, .8);
    border: thin solid black;
    margin: 20px auto auto auto;
    border-radius: 10px;
}

.main_section {
    height: 500px;
    width: 20%;
    min-width: 200px;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;

}

.main_event_section {
    height: 500px;
    width: 20%;
    min-width: 200px;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

.list_section {
    width: 70%;
    height: 15px;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 20px;
}

.my_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
}

.button_to_profile {
    background-color: #e7e7e7;
    border: none;
    color: #000000;
    width: 80px;
    padding: 10px;
    border-radius: 12px;
}

.button_to_profile:hover {
    border: 2px solid #778899;
}

.events_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    #margin: 10px;
    height: auto;
}

.event {
    position: relative;
    display: inline-block;
    margin: 20px;

    height: 30%;
    min-height: 300px;
    width: 90%;
    min-width: 95px;

    background: #76A5E0;
    border: 2px solid #3684E4;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.event_info {
    position: relative;
    padding: 20px;
    width: 90%;
    min-width: 100px;
    min-height: 150px;
    max-height: 40%;

    background: white;
    mix-blend-mode: normal;
    border: 1px solid #1E80F3;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.wrapper_event{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 60px;
}

.participants {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
}

.event_button {
    display: inline-block;
}

.event_people {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 30px;
}
