body {
    margin: 0;
}

a {
    text-decoration: none;
}

.nav_head {
    display: flex;
    width: 100%;
    border: thin solid black;
    margin: 0;
    background-color: #ffffff;
}

.nav_move {
    position: fixed;
}

.nav_login {
    height: 50px;
    width: 130px;
    min-width: 70px;
    margin: 0 15px;
}

.registration {
    margin: 5px 0;
    max-width: 100%;
    height: 17px;
    border: 1px solid black;
    background-color: #ffffff;

}

.login {
    margin: 5px 0;
    max-width: 100%;
    height: 17px;
    border: 1px solid black;
    background-color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_image {
    display: flex;
    width: 160px;
    height: 55px;
    background-color: white;

}

.logo_image_block {
    width: 100%;
    height: 100%;
}

.nav_block {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.main_block {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    overflow-y: scroll;
}

.sec_block {
    display: flex;
    flex-direction: column;
    background-color: #edeef0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.main_submit {
    display: flex;

}

.main_events {
    height: 100%;
    min-height: 500px;
    width: 50%;
    min-width: 400px;
    background-color: #ffffff;
    border: thin solid black;
    margin: 0 auto;
    border-radius: 20px;
}

.main_section {
    height: 500px;
    width: 20%;
    min-width: 200px;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;

}

.main_event_section {
    height: 500px;
    width: 20%;
    min-width: 200px;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

.list_section {
    width: 70%;
    height: 15px;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 50px;
}

.my_page {
    align-items: end;
    margin: 5px 5px 5px auto;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.my_page_section {
    max-width: 100%;
    height: 100%;
}

.All {
    display: flex;
    flex-direction: column;
}

