<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Registration{% endblock %}</title>
</head>
<body>
<div id="header">
    <span class="logo">Hello,</span>
    {% if request.user.is_authenticated %}
         {{ request.user.username }}<br>
        <a href="{% url 'events:main_page' %}">Main</a>
        <a href="{% url "registration:logout" %}">Log-out</a>


    {% else %}
        <a href="{% url "registration:login" %}">login</a>
        <a href="{% url "events:main_page" %}">Main</a>

    {% endif %}
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>