body {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    word-break: break-all;
}

textarea {
    width: 90%;
    resize: none;
}

span {
    padding-left: 30px;
}

.record_button {
    width: 70px;
    height: 30px;
    background: white;
    border-color: #6FA8EC;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.record_button2 {
    width: 70px;
    height: 30px;
    background: lightgreen;
    border-color: #6FA8EC;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h2 {
    margin: 10px;
    color: white;
    padding-left: 0px;
    text-align: center;
}

.nav_head {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0;
    background-color: #ffffff;
}

.nav_move {
    position: fixed;
}

.nav_login {
    height: 55px;
    width: 130px;
    min-width: 70px;
    margin: 0 15px;
}

.registration {
    margin: 5px 0;
    max-width: 100%;
    height: 17px;
    background-color: #ffffff;

}

.register_button {
    background-color: #e7e7e7;
    border: none;
    color: #000000;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
}

.register_button:hover {
    border: 2px solid #778899;
}

.login {
    margin: 5px 0;
    max-width: 100%;
    height: 17px;
    background-color: #ffffff;
}

.login_button {
    background-color: #e7e7e7;
    border: none;
    color: #000000;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
}

.login_button:hover {
    border: 2px solid #778899;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_image {
    display: flex;
    width: 160px;
    min-width: 160px;
    height: 55px;
    background-color: white;

}

.logo_image_block {
    width: 100%;
    height: 100%;
}

.nav_block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    width: 100%;
    height: 55px;
}

.main_block {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    overflow-y: scroll;
}

.sec_block {
    display: flex;
    flex-direction: column;

    background-image: url("https://baltic-grlk5lagedl.stackpathdns.com/production/baltic/images/1617367561771027-Prada-and-UNESCO-Sea-Beyond-project_courtesy-of-Prada-6-.jpg?w=1920&h=800&fit=clip&crop=focalpoint&auto=%5B%22format%22%2C%20%22compress%22%5D&cs=srgb");
    background-size: cover;
    background-color: #edeef0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.main_submit {
    display: flex;

}

.main_events {
    height: 100%;
    min-height: 500px;
    width: 50%;
    min-width: 400px;
    background-color: #ffffff;
    border: thin solid black;
    margin: 0 auto;
    border-radius: 10px;
    opacity: 95%;
}

.main_section {
    height: 500px;
    width: 20%;
    min-width: 200px;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;

}

.main_event_section {
    height: 500px;
    width: 20%;
    min-width: 200px;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

.list_section {
    width: 70%;
    height: 15px;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 20px;
}

.my_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    margin: 0 5px;
}


.button_to_profile {
    background-color: #e7e7e7;
    border: none;
    color: #000000;
    width: 80px;
    padding: 10px;
    border-radius: 12px;
    margin-right: 10px;
}

.button_to_profile:hover {
    border: 2px solid #778899;
}

.events_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 10px;
    height: auto;
}

.event {
    position: relative;
    display: inline-block;
    margin: 20px;
    padding-left: 20px;

    height: 30%;
    min-height: 300px;
    width: 90%;
    min-width: 300px;

    background: #76a5e0;
    border: 2px solid #3684E4;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.event_info {
    position: relative;
    padding: 20px;
    margin-left: 10px;
    width: 90%;
    min-width: 300px;
    min-height: 150px;
    max-height: 40%;

    background: white;
    mix-blend-mode: normal;
    border: 1px solid #1E80F3;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.participants {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.event_button {
    display: inline-block;
}

.event_people {
    display: inline-block;
    float: right;
    color: white;
    margin-top: 8px;
    margin-left: 10px;
}

.post_image {
    width: 100%;
    height: 100%;
}

.post_image_edit {
    max-height: 60%;
    max-width: 60%;
}

.marg{
    margin-right: 10px;
}

