{% extends "CampusLife/base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
    <main class="main_block" role="main">
        <div class="main_submit">
            <div class="main_events">
                <p style="padding: 10px 0;
    font-size: 28px;" align="center">Изменить пароль </p>
                <form method="post">
                    {% csrf_token %}
                    <div class="reg_input_line">
                        <input type="password" class="input_text" placeholder="Старый пароль" name="old_password">
                    </div>
                    <div class="reg_input_line">
                        <input type="password" class="input_text" placeholder="Новый пароль" name="new_password1">
                    </div>
                    <div class="reg_input_line">
                        <input type="password" class="input_text" placeholder="Повторите пароль" name="new_password2">
                    </div>

                    <div align="center">
                    <button type="submit">Подтвердить</button>
                    </div>

                    <div>
                        <a href="{% url 'events:profile' request.user.username %}">Вернуться</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}