{% extends "CampusLife/base.html" %}
{% block title %}Создать событие{% endblock %}
{% block content %}
    <main class="main_block" role="main">
        <div class="main_submit">
            <div class="main_events">
                <form action="{% url 'events:create_event' %}" method="POST" enctype="multipart/form-data">
                    <div>
                        {% csrf_token %}
                        {{ form.title }}
                        {{ form.description }}
                        {{ form.event_img }}
                        <br><br>
                        <input type="submit" value="Добавить событие">
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
