{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'CampusLife/Main_page_styles.css' %}">
</head>
<body>
<section class="sec_block">
    <nav class="nav_head nav_move">
        <div class="logo">
            <div class="logo_image">
                <a href="{% url 'events:main_page' %}">
                    <img src="{{ MEDIA_URL }}Campus%20Life(11).png" alt="Logo" class="logo_image_block">
                </a>
            </div>
        </div>
        <div class="nav_block">
            <div class="nav_login">
                <div class="login">
                    <a href="{% url 'events:login_page' %}">
                        <button class="login_button">Вход</button>
                    </a>
                </div>
                <div class="registration">
                    <a href="{% url 'events:registration_page' %}">
                        <button class="register_button">Регистрация</button>
                    </a>
                </div>
                <div class="registration">
                    <a href="{% url 'events:create_event' %}">Создать событие</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: row-reverse">
                <div class="my_page">
                    <a href="my_page.html">
                        <button class="button_to_profile">Профиль</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <main class="main_block" role="main">
        <div class="main_submit">
            <div class="main_events">
                {% if event %}
                <form enctype="multipart/form-data" action="{% url 'events:edit_event' event.id %}" method="POST">
                    {% csrf_token %}
                    <p>
                        <label>Введите новый заголовок</label>
                        <input type="text" name="form.title" value="{{ event.title }}">
                    </p>
                    <p>
                        <label>Введите новое описание</label>
                        <textarea name="form.description">{{ event.description }}</textarea>
                    </p>
                    <p>
                        <label>Загрузите новое изображение</label>
                        <br>
                        <input type="image" name="event_img" value="{{ event.event_img }}">
                    </p>
                    <input type="submit" value="Сохранить изменения">
                </form>
                {% endif %}
            </div>
        </div>
    </main>
</section>
</body>
</html>
