{% extends "CampusLife/base.html" %}
{% block title %}Изменить событие{% endblock %}
{% block content %}
    <main class="main_block" role="main">
        <div class="main_submit">
            <div class="main_events">
                {% if event %}
                <form enctype="multipart/form-data" action="{% url 'events:edit_event' event.id %}" method="POST">
                    {% csrf_token %}
                    <p>
                        <label>Введите новый заголовок</label>
                        <input type="text" name="title" value="{{ event.title }}">
                    </p>
                    <p>
                        <label>Введите новое описание</label>
                        <textarea name="description">{{ event.description }}</textarea>
                    </p>
                    <p>
                        <label>Загрузите новое изображение</label>
                        <input type="file" name="event_img" value="{{ event.event_img }}">
                    </p>
                    <input type="submit" value="Сохранить изменения">
                </form>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
