{% extends "CampusLife/base.html" %}
{% block title %}Информация о событии{% endblock %}
{% block content %}
    <main class="main_block" role="main">
        <div class="main_submit">
            <div class="main_events">
                <div class="events_block">
                    {% for el in event %}
                    <div>
                        <p style="text-align: right"><a href="{% url 'events:edit_event' el.id %}">Редактировать</a></p>
                        <p style="text-align: right"><a href="{% url 'events:delete_event' el.id %}">Удалить событие</a></p>
                    </div>
                    <div class="event">
                        <h2>{{ el.title }}</h2>
                        <span>{{ el.event_datetime }}</span>
                        <div class="event_info">
                            <p>{{ el.description }}</p>
                            {% if el.event_img %}
                                <img src="{{ el.event_img.url }}" class="post_image">
                            {% endif %}
                        </div>
                       <form action="{% url 'events:event_detail' el.id %}" method="POST">
                            {% csrf_token %}
                            <div class="participants">
                                {% if user not in el.going_to_event.all %}
                                    <button type="submit" class="record_button">Пойду</button>
                                {% else %}
                                    <button type="submit" class="record_button2">Уже иду</button>
                                {% endif %}
                                <div class="event_people">
                                    <a style="color: white" href="{% url "events:going_to_event_detail" el.id %}">
                                                Всего идёт: {{ el.going_to_event.all.count }}
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <form action="{% url 'events:comments' el.id %}" method="POST">
                        {% csrf_token %}
                        <div style="margin-top: 50px">
                            {{ form.comment_text }}
                        <br>
                        <br>
                        <input type="submit" value="Добавить комментарий">
                        </div>
                    </form>
                    <h4>Комментарии</h4>
                    {% if not qs %}
                            <div>Ещё нет комментариев</div>
                        {% else %}
                            {% for comment in qs %}
                                <strong>{{ comment.user }} - {{ comment.comment_date }}</strong>
                                <p>{{ comment.comment_text }}</p>
                                <br>
                            {% endfor %}
                        {% endif %}
                    <a href="{% url 'events:main_page' %}" style="justify-content: flex-start">
                        <p >< назад</p>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </main>
{% endblock %}
