{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'CampusLife/Main_page_styles.css' %}">
    <link rel="stylesheet" href="{% static 'CampusLife/Comment_page_style.css' %}">
</head>
<body>
<section class="sec_block">
    <nav class="nav_head nav_move">
        <div class="logo">
            <div class="logo_image">
                <a href="{% url 'events:main_page' %}">
                    <img src="{{ MEDIA_URL }}Campus%20Life(11).png" alt="Logo" class="logo_image_block">
                </a>
            </div>
        </div>
        <div class="nav_block">
            <div class="nav_login">
                <div class="login">
                    <a href="{% url 'login' %}">
                        <button class="login_button">Вход</button>
                    </a>
                </div>
                <div class="registration">
                    <a href="{% url 'events:registration_page' %}">
                        <button class="register_button">Регистрация</button>
                    </a>
                </div>
                <div class="registration">
                    <a href="{% url 'events:create_event' %}">Создать событие</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: row-reverse">
                <div class="my_page">
                    <a href="my_page.html">
                        <button class="button_to_profile">Профиль</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <main class="main_block" role="main">
        <div class="main_submit">
            <div class="main_events">
                <div class="events_block">
                    {% for el in event %}
                    <div>
                        <p style="text-align: right"><a href="{% url 'events:edit_event' el.id %}">Редактировать</a></p>
                        <p style="text-align: right"><a href="{% url 'events:delete_event' el.id %}">Удалить событие</a></p>
                    </div>
                    <div class="event">
                        <div class="wrapper_event">
                            <h2>{{ el.title }}</h2>
                            <p class="event_datetime">{{ el.event_datetime }}</p>
                            <div class="event_info">
                                <p>{{ el.description }}</p>
                                {% if el.event_img %}
                                    <img src="{{ el.event_img.url }}" class="post_image">
                                {% endif %}
                            </div>
                        </div>
                        <div class="participants">
                            <div class="event_button">
                                <form action="{% url 'events:event_detail' el.id %}" method="POST">
                                    {% csrf_token %}
                                    {% if user not in el.going_to_event.all %}
                                        <button type="submit" class="record_button">Пойду</button>
                                    {% else %}
                                        <button type="submit" class="record_button2">Уже иду</button>
                                    {% endif %}
                                </form>
                            </div>
                            <div class="event_people" style="text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);">
                                <a style="color: white; text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);"
                                   href="{% url "events:going_to_event_detail" el.id %}">
                                        Всего идёт: {{ el.going_to_event.all.count }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <form style="margin-top: 10px; margin-left: 20px; color: #000000;" action="{% url 'events:comments' el.id %}" method="POST">
                            {% csrf_token %}
                            <div class="comment_form">
                                {{ form.comment_text }}
                            </div>
                            <div class="comment_button">
                                <input type="submit" class="record_button_comment" value="Добавить комментарий">
                            </div>
                        </form>
                    </div>
                    <div class="all_comments">
                        <h2 style="color:#2D5EA8; padding: 0;">Комментарии</h2>
                        {% if not qs %}
                            <div>Ещё нет комментариев</div>
                        {% else %}
                            {% for comment in qs %}
                                <div class="comment_output">
                                    <div class="comment_data">
                                        <p style="margin-top: 10px; color: #ffffff;">{{ comment.user }} - {{ comment.comment_date }}</p>
                                    </div>
                                    <div class="comment">
                                        <p style="margin: 10px; ">{{ comment.comment_text }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a href="{% url 'events:main_page' %}" style="justify-content: flex-start">
                        <p style="margin-top: 20px">
                            <button class="record_button">назад</button>
                        </p>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </main>
</section>
</body>
</html>
