{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTC">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CampusLife/Main_page_styles.css' %}"  >
</head>
<body>
<section class="sec_block">
    <nav class="nav_head nav_move">
        <div class="nav_block">
            <div class="logo">
                <div class="logo_image">
                    <a href="{% url 'events:main_page' %}">
                        <img src="" alt="Logo" class="logo_image_block">
                    </a>
                </div>
            </div>
            <div>
                <div class="nav_login">
                    <div class="login">
                        <a href="{% url 'events:login_page' %}">login</a>
                    </div>
                    <div class="registration">
                        <a href="{% url 'events:registration_page' %}">registration</a>
                    </div>
                </div>
            </div>
            <div class="my_page">
                <div class="my_page_section">my page</div>
            </div>
        </div>
    </nav>
    <main class="main_block" role="main">
        <section class="main_submit">
            <div class="main_section">
                <div>
                    <div class="list">
                        <a class="list_section">Chat</a>
                        <a class="list_section">Delivery</a>
                        <a class="list_section">Find Companions</a>
                    </div>
                </div>
            </div>
            <div class="main_events">
                <div>
                    {% if qs %}
                        <ul>
                            {% for el in qs %}
                                {% if el.value == 'Иду' %}
                                    <li>{{ el.user }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div style="padding-bottom: 100%; padding-top: 0"></div>
            </div>
            <div class="main_event_section"></div>
        </section>
    </main>
</section>
</body>
</html>
