{% extends "CampusLife/base.html" %}
{% block title %}Идут{% endblock %}
{% block content %}
    <main class="main_block" role="main">
        <div class="main_submit">
            <div class="main_events">
                <div class="events_block">
                    <div>
                        {% if qs %}
                            <ul>
                                {% for el in qs %}
                                    {% if el.value == 'Уже иду' %}
                                        <li>{{ el.user }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
