{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'CampusLife/Login_page_styles.css' %}">
    <link href="{% static 'CampusLife/Main_page_styles.css' %}" rel="stylesheet">
</head>
<body>
<section class="background_screen">
    <div class="login_page">
        <nav class="nav_head">
            <div class="logo">
                <div class="logo_image">
                    <a href="{% url 'events:main_page' %}">
                        <img src="Campus%20Life(11).png" alt="Logo" class="logo_image_block">
                    </a>
                </div>
            </div>
            <div class="nav_block">
                <div class="nav_login">
                    <div class="login">
                        <a href="{% url 'events:login_page' %}">
                            <button class="login_button">Вход</button>
                        </a>
                    </div>
                    <div class="registration">
                        <a href="{% url 'events:registration_page' %}">
                            <button class="register_button">Регистрация</button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <main class="login_block">
            <div class="login_block_section">
                <a class="entry_font">Вход</a>
                <div class="login_indent">
                    <div class="input_login">
                        <label for="username">Логин:</label>
                        <input type="text" id="username" class="input_text">
                    </div>
                    <div class="input_password">
                        <label for="password">Пароль:</label>
                        <input type="password" id="password" class="input_text">
                    </div>
                    <div class="log_button_block">
                        <a href="Main_page.html">
                            <button class="log_button">войти</button>
                        </a>
                    </div>
                    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">
                        <a>
                            <a>Если у вас нет аккаунта:</a>
                            <a href="{% url 'events:registration_page' %}">Зарегистрироваться</a>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>
</body>
</html>
