{% extends "CampusLife/base.html" %}
{% block title %}Профиль{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <h2>Profile</h2>
    <main class="main_block" role="main">
        <section class="main_submit">
            <div class="profile">
                <div class="profile_top">
                    <div><img src="{{ MEDIA_URL }}{{ user.avatar }}" class="photo"></div>

                    <div class="brief_info">
                        <ul>
                            <li>Имя: {{ crispy.first_name }}</li>
                            <li>Фамилия: {{ crispy.last_name }}</li>
                            <li>Логин: {{ crispy.username }}</li>
                            <li>Дата Рождения: {{ crispy.birthday }}</li>
                            <li>Возраст:</li>
                            <li>Курс: {{ crispy.course }}</li>
                            <li>Почта: {{ crispy.email }}</li>
                        </ul>
                    </div>
                    <div style="column-fill: auto;">
                        <a href="Change_profile_settings.html" style="margin-left: auto;">
                            <button class="profile_change" type="button" style="margin-right: 0; margin-left: auto;">
                                Изменить профиль
                            </button>
                        </a>
                        <a href="{% url 'events:change-password' request.user.username %}" style="margin-left: auto;">
                            <button class="profile_change" type="button" style="margin-right: 0; margin-left: auto;">
                                Изменить пароль
                            </button>
                        </a>
                    </div>

                </div>
                <div style="display: flex; flex-direction: row; margin: 20px; font-size: larger; flex-wrap: nowrap">
                    <a>О пользователе:
                        <div class="hobby_info">{{ crispy.inform }}</div>
                    </a>
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}