{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTC">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CampusLife/Registration_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CampusLife/Main_page_styles.css' %}">
</head>
<body>
<main class="registration_section">
    <nav class="nav_head nav_move">
        <div class="nav_block">
            <div class="logo">
                <div class="logo_image">
                    <a href="{% url 'events:main_page' %}">
                        <img src=" " alt="Logo" class="logo_image_block">
                    </a>
                </div>
            </div>
            <div>
                <div class="nav_login">
                    <div class="login">
                        <a href="{% url 'events:login_page' %}">login</a>
                    </div>
                    <div class="registration">
                        <a href="{% url 'events:registration_page' %}">registration</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="registration_block">
        <div class="reg_entry_unit">
            <div class="reg_list">
                <a class="reg_font">Registration</a>
                <div class="reg_line">Name</div>
                <div class="reg_line">Surname</div>
                <div class="reg_line">Login</div>
                <div class="reg_line">Password</div>
                <div class="reg_line">Age</div>
                <div class="reg_line">Course</div>
                <div class="reg_information">About you</div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
